# Week 15 Programming Assignment

The final thing for this semester that we haven't exercised, yet, is working with databases through Python.  In thi final assignment of the semester, you will practice pulling data from either Google Big Query or Snowflake, loading that data into a Pandas data frame, summarizing the data, and then exporting that to an Excel file.

**You will need to use your own Google Big Query or Snowflake account to run this notebook, but you should try to make it configurable so anyone with an account in those technologies could run your notebook with minimal changes.**


Build a notebook with good comments (either in code or in markdown cells).  Then submit your assignment as usual.

### 1. Connect to the data source

Follow the examples provided in the [week15 folder of our GitHub repository](https://github.com/paulboal/hds5210-2023/tree/main/week15) to connect your notebook either to Big Query or Snowflake.

In [1]:
!pip install "snowflake-connector-python[pandas]"

import snowflake.connector
import pandas as pd

Collecting snowflake-connector-python[pandas]
  Downloading snowflake_connector_python-3.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 21.2 MB/s eta 0:00:00
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python[pandas])
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 12.3 MB/s eta 0:00:00
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (1.16.0)
Requirement already satisfied: cryptography<42.0.0,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (41.0.7)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (23.3.0)
Requirement already satisfied: pyjwt<3.0.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python[pandas]) (2.3.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2023.3.post1)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2.31.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2023.11.17)
Requirement already satisfied: typing-extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (4.5.0)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.13.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2.4.0)
Collecting platformdirs<4.0.0,>=2.6.0 (from snowflake-connector-python[pandas])
  Downloading platformdirs-3.11.0-py3-none-any.whl (17 kB)
Collecting tomlkit (from snowflake-connector-python[pandas])
  Downloading tomlkit-0.12.3-py3-none-any.whl (37 kB)
Requirement already satisfied: pandas<2.2.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (1.5.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (10.0.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]) (2.21)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (1.23.5)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python[pandas]) (2.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (1.16.0)
Installing collected packages: asn1crypto, tomlkit, platformdirs, snowflake-connector-python
  Attempting uninstall: platformdirs
    Found existing installation: platformdirs 4.1.0
    Uninstalling platformdirs-4.1.0:
      Successfully uninstalled platformdirs-4.1.0
Successfully installed asn1crypto-1.5.1 platformdirs-3.11.0 snowflake-connector-python-3.6.0 tomlkit-0.12.3

In [2]:
# Check if con is defined and close the connection if it is
if 'con' in locals():con.close()

In [3]:
# Create a new connection with snowflake
con = snowflake.connector.connect(
    user='mansipokiya14',
    password='Mansi1408!',
    account='EXYDDML-VY36265',
    database='COVID19_EPIDEMIOLOGICAL_DATA',
    schema='PUBLIC',
    warehouse='COMPUTE_WH',
    session_parameters={
        'QUERY_TAG': 'Demo User Interaction',}
)

In [4]:
# Already have a connection of 'con'
cursor = con.cursor()

In [5]:
# Specify the table name
table_name = 'DEMOGRAPHICS'

In [6]:
# Construct the SELECT query
query = f'SELECT * FROM {table_name}'

In [7]:
# Execute the query
cursor.execute(query)

In [8]:
# Fetching the results into a Pandas DataFrame
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
df = pd.DataFrame(data, columns=columns)

In [9]:
# Print the column names
print("Column Names:")
print(df.columns)

Column Names:
Index(['ISO3166_1', 'ISO3166_2', 'FIPS', 'LATITUDE', 'LONGITUDE', 'STATE',
       'COUNTY', 'TOTAL_POPULATION', 'TOTAL_MALE_POPULATION',
       'TOTAL_FEMALE_POPULATION'],
      dtype='object')

In [10]:
# Print the DataFrame
print("\nDataFrame:")
print(df)

DataFrame:
     ISO3166_1 ISO3166_2   FIPS   LATITUDE   LONGITUDE STATE  \
0           US        CA  06081  37.467348 -122.124828    CA
1           US        CA  06083  34.388274 -119.490511    CA
2           US        CA  06085  37.040598 -121.488980    CA
3           US        CA  06087  36.933939 -121.675387    CA
4           US        CA  06089  40.796145 -121.415607    CA
...        ...       ...    ...        ...         ...   ...
3135        US        NY  36039  42.436161  -73.795047    NY
3136        US        NY  36041  43.733069  -74.250052    NY
3137        US        NY  36043  43.131493  -74.774864    NY
3138        US        NY  36045  44.040206  -75.546141    NY
3139        US        NY  36047  40.666401  -73.858559    NY

                    COUNTY  TOTAL_POPULATION  TOTAL_MALE_POPULATION  \
0         San Mateo County            754748                 371545
1     Santa Barbara County            439395                 220159
2       Santa Clara County           1885056                 949223
3        Santa Cruz County            270931                 134367
4            Shasta County            179228                  87903
...                    ...               ...                    ...
3135         Greene County             48069                  24956
3136       Hamilton County              4697                   2382
3137       Herkimer County             63558                  31375
3138      Jefferson County            117966                  61754
3139          Kings County           2606852                1234959

      TOTAL_FEMALE_POPULATION
0                      383203
1                      219236
2                      935833
3                      136564
4                       91325
...                       ...
3135                    23113
3136                     2315
3137                    32183
3138                    56212
3139                  1371893

[3140 rows x 10 columns]

In [11]:
# Close the cursor
cursor.close()

True

### 2. Query some data

Assuming the source database has some data in it or that you can load some data into it from any source, query it.  Then, read that data into a Pandas dataframe.

In [12]:
cursor = con.cursor()

In [13]:
# Specify the table name
table_name = 'DEMOGRAPHICS'

In [14]:
#Make a selection of relevant columns
selected_columns = [
    'STATE', 'COUNTY', 'TOTAL_POPULATION', 'TOTAL_MALE_POPULATION', 'TOTAL_FEMALE_POPULATION'
]

In [15]:
# Construct the SELECT query
columns_query = ', '.join(selected_columns)
query = f'SELECT {columns_query} FROM {table_name}'

In [16]:
# Execute the query
cursor.execute(query)

In [17]:
# Fetching the results into a Pandas DataFrame
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
df = pd.DataFrame(data, columns=columns)

In [18]:
# Print the DataFrame
print(df)

     STATE                      COUNTY  TOTAL_POPULATION  \
0       AK      Aleutians East Borough              3299
1       AK  Aleutians West Census Area              5714
2       AK      Anchorage Municipality            299321
3       AK          Bethel Census Area             17885
4       AK         Bristol Bay Borough               942
...    ...                         ...               ...
3135    PA               Carbon County             64330
3136    PA               Centre County            159178
3137    PA              Chester County            512028
3138    PA              Clarion County             38939
3139    PA           Clearfield County             81170

      TOTAL_MALE_POPULATION  TOTAL_FEMALE_POPULATION
0                      2145                     1154
1                      3578                     2136
2                    152681                   146640
3                      9358                     8527
4                       536                      406
...                     ...                      ...
3135                  31944                    32386
3136                  83558                    75620
3137                 252007                   260021
3138                  18983                    19956
3139                  42256                    38914

[3140 rows x 5 columns]

In [19]:
# Close the cursor
cursor.close()

True

### 3. Aggregate your data frame

Do some kind of aggregation on your data frame.  Something that makes sense and has some groups to it.  Don't just sum up one column for the entire data frame.  Be more creative than that.

In [20]:
agg_df = df.groupby('STATE').agg({
    'TOTAL_POPULATION': 'sum',
    'TOTAL_MALE_POPULATION': 'sum',
    'TOTAL_FEMALE_POPULATION': 'sum'})

In [21]:
# Print the aggregated DataFrame
print(agg_df)

       TOTAL_POPULATION  TOTAL_MALE_POPULATION  TOTAL_FEMALE_POPULATION
STATE
AK               728862                 381037                   347825
AL              4841164                2346193                  2494971
AR              2968472                1456694                  1511778
AZ              6728577                3344106                  3384471
CA             38654206               19200970                 19453236
CO              5359295                2689636                  2669659
CT              3588570                1750270                  1838300
DC               659009                 312629                   346380
DE               934695                 452416                   482279
FL             19934451                9741262                 10193189
GA             10099320                4922471                  5176849
HI              1413673                 709870                   703803
IA              3106589                1542988                  1563601
ID              1635483                 819845                   815638
IL             12851684                6310460                  6541224
IN              6589578                3245322                  3344256
KS              2898292                1441912                  1456380
KY              4411989                2172745                  2239244
LA              4645670                2271684                  2373986
MA              6742143                3269371                  3472772
MD              5959902                2886734                  3073168
ME              1329923                 651344                   678579
MI              9909600                4869885                  5039715
MN              5450868                2710157                  2740711
MO              6059651                2973317                  3086334
MS              2989192                1450269                  1538923
MT              1023391                 514191                   509200
NC              9940828                4834592                  5106236
ND               736162                 376979                   359183
NE              1881259                 935935                   945324
NH              1327503                 656507                   670996
NJ              8915456                4350531                  4564925
NM              2082669                1031440                  1051229
NV              2839172                1426322                  1412850
NY             19697457                9555130                 10142327
OH             11586941                5673893                  5913048
OK              3875589                1919995                  1955594
OR              3982267                1971512                  2010755
PA             12783977                6255042                  6528935
RI              1054491                 511297                   543194
SC              4834605                2348338                  2486267
SD               836795                 421244                   415551
TN              6548009                3191977                  3356032
TX             26956435               13379165                 13577270
UT              2948427                1483055                  1465372
VA              8310301                4086283                  4224018
VT               626249                 308711                   317538
WA              7073146                3529431                  3543715
WI              5754798                2859055                  2895743
WV              1846092                 912270                   933822
WY               583029                 297691                   285338

### 4. Write to Excel

Use Pandas functions to write your summarized data out to a local Excel file.

In [22]:
# Specify the Excel file path
excel_file_path = 'aggregated_data.xlsx'

In [23]:
# Write the DataFrame to Excel
agg_df.to_excel(excel_file_path, index=True)

In [24]:
# Confirm the file creation
print(f'Data has been written to {excel_file_path}')

Data has been written to aggregated_data.xlsx

---

## Submitting Your Work

Submit your work as usual